/* Universal reset */

* {
  margin: 0;
  padding: 0;
  border-style: border-box;
}

.pagination-numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 120px;
}

.pagination-numbers a:link,
.pagination-numbers a:visited {
  text-decoration: none;
  color: #333;
  border: 1px solid rebeccapurple;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 10px;
  font-size: larger;
  font-weight: bold;
}

.pagination-numbers a:hover,
.pagination-numbers a:active {
  background-color: aqua;
  box-shadow: 0 1px 10px 1px #333;
}
