/* Universal reset */

* {
  margin: 0;
  padding: 0;
  border-style: border-box;
}

.pagination-numbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-top: 120px;
  width: 1200pxpx;
}
.pagination-numbers a {
  text-decoration: none;
  background-color: aquamarine;
  border: 1px solid rebeccapurple;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
}

.arrow-right,
.arrow-left {
  width: 24px;
  height: 24px;
}
